<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LSMinimumSystemVersion</key>
    <string>13.0.0</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>ReactNativeAppsTemplate5</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string/>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>_REVERSED_CLIENT_ID_</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb_FACEBOOK_ID_</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>delivery</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>delivery</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.ordering.app5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>_APP_SCHEME_</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>FacebookAppID</key>
		<string>_FACEBOOK_ID_</string>
		<key>FacebookDisplayName</key>
		<string>test</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fb-messenger-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
			<string>itms-apps</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>The app requires access to the camera for the profile picture, to upload images to communicate via the messaging features of the app.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>App require access to your device location (real time location provided by Google) and physical activity, those are needed to allow the customers to track your current location as a driver while working on his order, the physical activity is to optimize the battery to only track you while you’re moving in your route. This track will be used on background and the shared location will be finished for the customer once the order is delivered to him and the app is closed. Features used in background: Google maps real time GPS tracking.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>App require access to your device location (real time location provided by Google) and physical activity, those are needed to allow the customers to track your current location as a driver while working on his order, the physical activity is to optimize the battery to only track you while you’re moving in your route. This track will be used on background and the shared location will be finished for the customer once the order is delivered to him and the app is closed. Features used in background: Google maps real time GPS tracking.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>The app requires access to the photo library for the profile picture, to upload images to communicate via the messaging features of the app.</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>We use Google Analytics to improve your user experience and offer you a better service and content base in your location</string>
		<key>UIAppFonts</key>
		<array>
			<string>Poppins-Bold.ttf</string>
			<string>Poppins-Light.ttf</string>
			<string>Poppins-Medium.ttf</string>
			<string>Poppins-Regular.ttf</string>
			<string>Poppins-SemiBold.ttf</string>
			<string>Poppins-Thin.ttf</string>
			<string>AntDesign.ttf</string>
			<string>Entypo.ttf</string>
			<string>EvilIcons.ttf</string>
			<string>Feather.ttf</string>
			<string>FontAwesome.ttf</string>
			<string>FontAwesome5_Brands.ttf</string>
			<string>FontAwesome5_Regular.ttf</string>
			<string>FontAwesome5_Solid.ttf</string>
			<string>Fontisto.ttf</string>
			<string>Foundation.ttf</string>
			<string>Ionicons.ttf</string>
			<string>MaterialCommunityIcons.ttf</string>
			<string>MaterialIcons.ttf</string>
			<string>Octicons.ttf</string>
			<string>SimpleLineIcons.ttf</string>
			<string>Zocial.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>SplashScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UIRequiresFullScreen</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIUserInterfaceStyle</key>
		<string>Light</string>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
