<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935128066674-iiie2oc4imhvcp47qgac9qqiu87t03eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935128066674-iiie2oc4imhvcp47qgac9qqiu87t03eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDG4E2tAUx_HE621Kow20DpYouTuGEhkrI</string>
	<key>GCM_SENDER_ID</key>
	<string>935128066674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanvidelivery.orders</string>
	<key>PROJECT_ID</key>
	<string>vanvi-c3eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>vanvi-c3eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935128066674:ios:8656413ed78ae3e46770eb</string>
</dict>
</plist>